@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    /* overflow: hidden; */
    height: 700vh;
    overflow-x: hidden;
    position: relative;
    font-family: Inter;
}

::-webkit-scrollbar {
    display: none;
}

hr {
    background: white;
}

.carousel-item-prev:not(.carousel-item-end) {
    height: 0 !important;
    transition: all 1s;
    animation-delay: 0;
}

::selection {
    background-color: #e22f2f;
    color: white;
}

.red-button {
    background-color: #e82a2a;
    color: white;
    text-decoration: none;
    border: 3px solid #e82a2a;
    transition: all 500ms;

}

#card1,
#card2,
#card3 {
    top: 10rem;
}

.red-button:hover {
    background-color: transparent;
    border: 1px solid #e82a2a;
    color: #e82a2a;
}

.red-button:hover .rounded-cursor {
    display: none;
}

button {
    position: relative !important;
}

.rounded-cursor {
    pointer-events: none;
    width: 50px;
    height: 50px;
    background-color: rgba(226, 47, 47, 0.7);
    color: rgba(255, 255, 255);
    border-radius: 50% !important;
    position: relative;
    z-index: 1033;
    top: -25px;
    left: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    font-size: 25px;
    padding-bottom: 10px;
    cursor: default;
    font-weight: lighter;

}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* carousel style */


#pricing {
    background-color: #ddd;
    height: 100vh;
}

#pricing .col {
    background-color: #fff;
    box-shadow: 0px 0px 10px #555;
    padding: 10px 50px;
    text-align: center;
    border-radius: 10px;
}

#firstContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#firstPageContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
}

video,
source {
    height: 120vh !important;
    width: 100vw !important;
}

.carousel-inner,
.carousel,
.carousel-item,
.carousel-container {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
}

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
}

.carousel-indicators {
    top: -15vh;
    margin: auto;
    height: 20px;
    bottom: 0;
    right: 50px;
    left: auto;
    z-index: 2000 !important;
    display: block;
    position: absolute;
}

.carousel-indicators [data-bs-target] {
    border-radius: 12px;
    width: 5px;
    height: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    background-color: #999;
}

.carousel-indicators [data-bs-target] li.active {
    width: 7px;
    height: 7px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: 95%;
    left: 50%;
    /* transform: translate(-50%, -50%) rotate(90deg); */
    z-index: -1;
}

.carousel-control-prev-icon {
    top: 5%;
}

.carousel-item {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.pageContainer {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.pageContainer img {
    position: absolute;
    width: 100vw;
    height: auto;
}

.pageTextContainer {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    /* color: white; */
}

#prevButton,
#nextButton {
    visibility: hidden;
}


.carousel-item.active {
    position: fixed !important;
    top: 0;
}


/* second page */

.cards-container img {
    width: 500px;
}

.cards-container {
    display: flex;
}

.firstCard {
    width: 40vw;
    height: 60vh;
    position: relative;
}

.firstCard img {
    top: 0;
    position: relative;
    display: flex !important;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;

}

.firstCaption {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    background-image: linear-gradient(to top, black, transparent);
}

#rightTwo {
    padding-left: 10px;
    width: 40vw;
}

#rightTwo img {
    width: 100%;
    height: 29.4vh;
    position: relative;
}

.secondCard,
.thirdCard {
    position: relative;
    height: 49%;
    overflow: hidden;
}

.thirdCard {
    margin-top: 10px !important;
}

.firstCard,
.secondCard,
.thirdCard {
    box-shadow: 0 0 5px;
    cursor: pointer;
    overflow: hidden;
}

.secondCap,
.thirdCap {
    position: absolute;
    color: white;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(to top, black, transparent);
}


.firstCard:hover .firstCaption {
    display: none;
}

.firstCard:hover #firstImg {
    width: 150% !important;
    height: 150% !important;
    transition: all 1s;
}

/* .secondCard img {
    top: 0;
    position: relative;
    display: flex !important;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;

} */


.secondCard:hover img {
    width: 250%;
    height: auto;
    transition: all 1s;
    overflow: hidden;
}

.thirdCard:hover img {
    width: 250%;
    height: auto;
    transition: all 1s;
    overflow: hidden;
}

.secondCard:hover .secondCap {
    display: none;
}

.thirdCard:hover .thirdCap {
    display: none;
}

/* third section */

#thirdContainer {
    position: relative;
}

#thirdImage {
    top: -162vh;
    height: 278vh;
}

#thirdCaption {
    width: 100vw;
    height: 100vh;
    background-color: rgba(151, 4, 4, 0.521);
    z-index: 100;
}



#upperText,
#bottomText {
    width: 100%;
    position: relative;
}


/* latest news container */

#latestNewsContainer img {
    position: relative;
    width: 103%;
    height: 30vh;
    flex-direction: column;
}

#latestNewsContainer .col {
    position: relative;
    height: 30vh;
    overflow: hidden;
}

#latestNewsContainer .caption {
    position: absolute;
    top: 0;
    width: 98%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* #latestNewsContainer .col:hover .blogImg {
    width: 120%;
    height: 35vh;
    transition: all 1s ease;
} */

.blog:hover .caption {
    display: none !important;
}

.caption {
    width: 100%;
}

.blog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog:hover .blogImg {
    width: 150% !important;
    height: 150% !important;
    transition: all 1s;
}

#fiveContainer .pageTextContainer {
    background-image: linear-gradient(to right, #3276F8, #59C4F9);
    box-shadow: 10px 10px 100px;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .carousel-indicators {
        display: none;
    }

    .blogSection {
        margin-top: 1vh;
    }

    video .carousel-indicators {
        display: none;
    }

    video {
        height: 150vh !important;
    }

    #pricing {
        padding-top: 10vh;
        background-color: #ddd;
        height: 100vh;
        padding: 25px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    video {
        height: 150vh !important;
    }

    .blogSection {
        margin-top: 12vh;
    }

    #pricing {
        padding-top: 10vh;
        background-color: #ddd;
        height: 100vh;
        padding: 10px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #pricing {
        padding-top: 5vh;
        background-color: #ddd;
        height: 100vh;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .carousel-indicators {
        display: block;
    }

    #thirdCaption .container {
        margin-top: 18vh;
    }

    .blogSection {
        margin-top: 29vh;
    }

    #pricing {
        padding-top: 22vh;
        background-color: #ddd;
        height: 100vh;

    }

}

.blogSection {
    display: block;
}