@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');


body {
    height: 700vh;
    overflow-x: hidden;
    position: relative;
    font-family: 'Helvetica 65 Medium', sans-serif;

}


.navbar {
    transition: all 1s;
}

.bg-lightblue {
    background-color: #f9faff;
}

@keyframes transform {
    from {
        height: 100vh;
    }

    to {
        height: 0;
    }
}

.carousel-item {
    transition: transform 1.5s ease,
}



.navbar .nav-link {
    font-family: 'Helvetica 65 Medium', sans-serif;
    font-size: 20px !important;
}

.section-heading {
    font-size: 75px;
    font-weight: 900;
}

.sectionHeading {
    font-size: 48px;
}

a.nav-link {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

hr {
    background: white;
}

.carousel-item-prev:not(.carousel-item-end) {
    height: 0 !important;
    transition: all 1s;
    animation-delay: 0;
}

::selection {
    background-color: #00A1D8;
    color: white;
}

.red-button {
    background-color: #00A1D8;
    color: white;
    text-decoration: none;
    border: 3px solid #00A1D8;
    transition: all 500ms;
    font-size: 16px;
}

.red-button-alt {
    background-color: #00A1D8;
    color: white;
    text-decoration: none;
    border: 3px solid #00A1D8;
    transition: all 500ms;
    font-size: 16px;
}

.red-button-alt:hover {
    background-color: transparent;

    color: #00A1D8;
}

#card1,
#card2,
#card3 {
    top: 10rem;
}

.red-button:hover {
    background-color: transparent;
    border: 3px solid #fff;
    color: rgb(255, 255, 255);
}

.red-button:hover .rounded-cursor {
    display: none;
}

button {
    position: relative !important;
    font-size: 16px;
    padding: 12px 10px
}

.rounded-cursor {
    pointer-events: none;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 161, 216, 0.5);
    color: rgba(255, 255, 255);
    border-radius: 50% !important;
    position: relative;
    z-index: 1033;
    top: -25px;
    left: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    font-size: 30px;
    padding-bottom: 10px;
    cursor: default;
    font-weight: lighter;

}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph p {
    font-size: 24px;
}

/* carousel style */

.custom-card p {
    color: #ffffff80;
}

#pricing {
    background-image: url("./Logos/grain.png");
    height: 100vh;
}

.bg-overlay {
    height: 100vh;
    width: 100vw;
    background-color: #141e30;
}

#pricing .col {
    color: white;
    padding: 42px 0;
    border-radius: 10px;
}

#firstContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#firstPageContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
}


.carousel-inner,
.carousel,
.carousel-item,
.carousel-container {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
}

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
}

.carousel-indicators {
    top: -15vh;
    margin: auto;
    height: 20px;
    bottom: 0;
    right: 50px;
    left: auto;
    z-index: 2000 !important;
    display: block;
    position: absolute;
}

.carousel-indicators [data-bs-target] {
    border-radius: 12px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #999;
    margin: 0 auto;
}

.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    background-color: rgb(174, 174, 174);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: 95%;
    left: 50%;
    /* transform: translate(-50%, -50%) rotate(90deg); */
    z-index: -1;
}

.carousel-control-prev-icon {
    top: 5%;
}

.carousel-item {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.pageContainer {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.pageContainer img {
    position: absolute;
    width: 100vw;
    height: auto;
}

.pageTextContainer {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    /* color: white; */
}

#prevButton,
#nextButton {
    visibility: hidden;
}


.paragraph p {
    letter-spacing: 3px;
}


.carousel-item.active {
    position: fixed !important;
    top: 0;
}


/* second page */


.secondHeading {
    font-weight: bold;
    font-size: 48px;
}

.cards-container img {
    width: 500px;
}

.cards-container {
    display: flex;
}

.firstCard {
    width: 40vw;
    height: 60vh;
    position: relative;
}

.firstCard img {
    top: 0;
    position: relative;
    display: flex !important;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;

}

.firstCaption {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    background-image: linear-gradient(to top, black, transparent);
}

#rightTwo {
    padding-left: 10px;
    width: 40vw;
}

#rightTwo img {
    width: 100%;
    height: 29.4vh;
    position: relative;
}

.secondCard,
.thirdCard {
    position: relative;
    height: 49%;
    overflow: hidden;
}

.thirdCard {
    margin-top: 10px !important;
}

.firstCard,
.secondCard,
.thirdCard {
    box-shadow: 0 0 5px;
    cursor: pointer;
    overflow: hidden;
}

.secondCap,
.thirdCap {
    position: absolute;
    color: white;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(to top, black, transparent);
}


.firstCard:hover .firstCaption {
    display: none;
}

.firstCard:hover #firstImg {
    width: 150% !important;
    height: 150% !important;
    transition: all 1s;
}

/* .secondCard img {
    top: 0;
    position: relative;
    display: flex !important;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;

} */


.secondCard:hover img {
    width: 250%;
    height: auto;
    transition: all 1s;
    overflow: hidden;
}

.thirdCard:hover img {
    width: 250%;
    height: auto;
    transition: all 1s;
    overflow: hidden;
}

.secondCard:hover .secondCap {
    display: none;
}

.thirdCard:hover .thirdCap {
    display: none;
}

/* third section */

#thirdContainer {
    position: relative;
}

#thirdImage {
    top: -162vh;
    height: 278vh;
}

#thirdCaption {
    width: 100vw;
    height: 100vh;
    background-color: rgba(151, 4, 4, 0.521);
    z-index: 100;
}

.blockquote h1 {
    font-size: 60px;
    font-weight: 700;
}

figcaption {
    font-size: 20px !important;
}

#quote-para {
    font-size: 22px;
}

#upperText,
#bottomText {
    width: 100%;
    position: relative;
}


#about img {
    height: 50vh;
}

/* latest news container */

#pageFour {
    background-color: #f9faff;
}

.blog {
    display: inline-block;
    position: relative;
    padding: 0;
    color: white;
    overflow: hidden;
    box-shadow: 0 0 5px #333;
}

.blogImg {
    width: 100%;
    height: 120%;
    position: relative;
    top: -2vh;
    transition: all 0.5s;
}


.blog:hover .blogImg {
    transform: scale(1.2);
    transition: all 0.5s;
}

.blog:hover {
    color: white;
}


.caption {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(transparent, rgba(0, 0, 0, 90%));
    display: flex;
    align-items: flex-end;
    font-weight: 900;
}


.caption h3 {
    font-weight: 600;
}

#fiveContainer {
    background-color: rgba(20, 30, 48, 0.5);
    box-shadow: 10px 10px 100px;
}

.contact {
    background-image: url("./Logos/Long-Tail.webp");
    background-size: cover;
}

form {
    border-radius: 20px;
}

input {
    border-radius: 50px !important;
}

textarea {
    border-radius: 20px !important;
}


#about {
    background-color: #f9faff;
    width: 100vw;
    height: 100vh;
}

footer {
    background-color: #f9faff;
    width: 100vw;
    height: 100%;
    padding-top: 15vh;
}

.footer-blog {
    height: 100vh;
    overflow: scroll;
}

p.fixed-bottom {
    background-color: #f9faff;
    margin-bottom: 0;
    text-align: justify;
}

.text-justify {
    text-align: justify;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #pricing h1 {
        font-size: 28px;
    }

    #pricing h5 {
        font-size: 22px;
        font-family: Helvetica;
        font-weight: bold;
    }

    .carousel-indicators {
        display: none;
    }

    .blogSection {
        margin-top: 10vh;
    }

    .blog {
        height: 20vh;
    }

    .fa {
        font-size: 30px;
        color: #00A1D8;
    }

    video .carousel-indicators {
        display: none;
    }

    video,
    source {
        height: 100vh !important;
        width: 500vw !important;
    }

    #pricing {
        padding-top: 10vh;
        background-color: #ddd;
        height: 100vh;
        padding: 0;
    }

    .blog-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1vh;
        justify-content: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #pricing h1 {
        font-size: 28px;
    }

    #pricing h5 {
        font-size: 25px;
        font-family: Helvetica;
        font-weight: bold;
    }

    .carousel-indicators {
        right: 3%;
    }

    .blogSection {
        margin-top: 8vh;
        height: 100vh;
    }

    .blog {
        width: 85vw;
        height: 23vh;
        margin: 0 auto;
    }

    .fa {
        font-size: 30px;
        color: #00A1D8;
    }

    .bg-overlay {
        padding-top: 10vh;

        height: 100vh;
        padding: 10px;
    }

    video,
    source {
        height: 120vh !important;
        width: 300vw !important;
    }

    .blog-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: .5em;
        justify-content: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #pricing h1 {
        font-size: 48px;
    }

    #pricing h5 {
        font-size: 28px;
        font-family: Helvetica;
        font-weight: bold;
    }


    .bg-overlay {
        padding-top: 5vh;
        height: 100vh;
    }


    #latestNewsContainer h1 {
        margin-top: 10rem;
    }


    video,
    source {
        height: 120vh !important;
        width: 300vw !important;
    }

    .blog-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
        justify-content: center;
    }

    .blog {
        width: 45vw;
        height: 30vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    .blog {
        width: 30vw;
        height: 30vh;
    }

    .blog-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.5em;
        justify-content: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .fa {
        font-size: 50px;
        color: #00A1D8;
    }

    .carousel-indicators {
        display: block;
    }


    #thirdCaption .container {
        margin-top: 18vh;
    }

    .blogSection {
        margin-top: 18vh;
    }

    .bg-overlay {
        padding-top: 22vh;
        height: 100vh;

    }


    video,
    source {
        height: 140vh !important;
        width: 300vw !important;
    }

    .blog-container {
        display: flex;
        /* grid-template-columns: repeat(3, 1fr); */
        grid-gap: 0;
        justify-content: center;
    }

    .blog {
        width: 25vw;
        height: 35vh;
    }

}

.blogSection {
    display: block;
}