::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.App {
    width: 100vw;
}


.rounded{
    width:40px;
    height:40px;
    background-color: rgba(255, 0, 0, 0.5);
    color: rgba(255, 255, 255);
    border-radius: 50% !important;
    position: fixed;
    z-index: 10;
    top: -20px;
    left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    font-size: 25px;
    padding-bottom: 10px;
    cursor:default;
    font-weight: lighter;
}

